.pageBackground {
  background-color: var(--black-color);
  padding-top: 30px;
}

@media screen and (max-width: 950px) {
  .pageBackground {

    padding-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .pageBackground {
    padding-top: 20px;
  }
}