.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 100;
}

.navbarContainer li {
  color: var(--yellow-color);
  font-size: 20px;
}

.navbarContainer li:hover {
  color: var(--cream-color);
}

.innovationNav {
  cursor: pointer;
  position: relative;
}

@media screen and (max-width:1373px) {
  .navbarContainer {
    gap: 2rem;
  }

  .navbarContainer li {
    font-size: 18px;

  }
}

@media screen and (max-width:1100px) {
  .navbarContainer {
    gap: 2rem;
  }

  .navbarContainer li {
    font-size: 16px;
  }
}

@media screen and (max-width:970px) {
  .navbarContainer {
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbarContainer {
    gap: 1.5rem;
  }
}