.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;

}

.navbarContainer li {
  color: var(--yellow-color);
  font-size: 20px;
}

.navbarContainer li:hover {
  color: var(--cream-color);
}

.innovationNav {
  cursor: pointer;
  position: relative;
}