.languageWrapper button:not(:last-child) {
  margin-right: 4px;
}

.languageWrapper button {
  color: var(--cream-color);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50%;

  background-color: var(--black-color);
  border: none
}

.languageWrapper button:hover {
  background-color: rgba(255, 225, 149, 0.3);

}

.selectedLanguage {
  background-color: rgba(255, 225, 149, 0.6) !important;
}

@media screen and (max-width: 1373px) {
  .languageWrapper button {
    width: 50px;
    height: 30px;
    padding: 7px 0px;
  }
}