.aboutHeadingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  cursor: pointer;
}

.aboutHeadingWrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  font-size: 22px;
  font-weight: 800;
  color: var(--cream-color);
  border: 1px solid var(--cream-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.aboutPageDetailsWrapper p {
  display: flex;
  font-size: 20px;
  color: var(--cream-color);
  text-align: justify;
  line-height: 1.5;
  margin-left: 2rem;
}

.aboutPageDetailsWrapper h3 {
  width: 30%;
  font-size: 22px;
  color: var(--light-yellow-color);
  line-height: 1.5;
}

.AboutPageDetailsContainer {
  width: 70%;
}

@media screen and (max-width:1300px) {
  .aboutPageDetailsWrapper h3 {
    width: 40%;
    font-size: 20px;

  }

  .aboutPageDetailsWrapper p {
    font-size: 18px;
  }
}

@media screen and (max-width:900px) {
  .AboutPageDetailsContainer {
    width: 80%;
  }

  .aboutPageDetailsWrapper h3 {
    font-size: 18px;

  }

  .aboutPageDetailsWrapper p {
    font-size: 16px;
    margin-left: 1rem;
  }
}

@media screen and (max-width:600px) {
  .AboutPageDetailsContainer {
    width: 90%;
  }

  .aboutPageDetailsWrapper h3 {
    font-size: 16px;

  }

  .aboutPageDetailsWrapper p {
    font-size: 14px;
    margin-left: 1rem;
  }
}