.aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--black-color);

}

.aboutWrapper h2 {
  font-size: 28px;
  font-weight: 600;
  color: var(--yellow-color);
  margin-bottom: 2rem;
}

.aboutWrapper>div:last-child {
  display: flex;
  flex-direction: column;
}

.aboutWrapper>div:last-child div:not(:last-child) {
  margin-bottom: 2rem;
}