.aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: var(--black-color);

}

.aboutWrapper h2 {
  font-size: 28px;
  font-weight: 600;
  color: var(--yellow-color);
  margin-bottom: 2rem;
}

.aboutWrapper>div:last-child {
  display: flex;
  flex-direction: column;
}

.aboutWrapper>div:last-child div:not(:last-child) {
  margin-bottom: 2rem;
}

@media screen and (max-width:1470px) {
  .aboutWrapper h2 {
    font-size: 24px;
  }

  .aboutWrapper>div:last-child div:not(:last-child) {
    margin-bottom: 1rem;
  }

  .aboutWrapper {
    justify-content: flex-start;
    padding-top: 50px;
  }
}

@media screen and (max-width:900px) {
  .aboutWrapper h2 {
    font-size: 20px;
  }

  .aboutWrapper>div:last-child div:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  .aboutWrapper {
    padding-top: 30px;
  }
}

@media screen and (max-width:600px) {
  .aboutWrapper>div:last-child div:not(:last-child) {
    margin-bottom: 0;
  }
}