.dropDownWrapper {

  position: absolute;
  padding: 10px 20px;
  width: 250px;
  background-color: var(--black-color);

}

.dropDownWrapper li {
  padding-bottom: 10px;
}

.dropDownWrapper li:not(:last-child) {
  line-height: 1.6em;
}

@media screen and (max-width:970px) {

  .dropDownWrapper {
    width: 100px;
  }
}