.footerWrapper {
  display: flex;
  width: 100%;
  color: var(--yellow-color);
  justify-content: space-around;
  padding: 3rem 0;
  border-top: 2px solid;
  margin-top: auto;
  background-color: var(--black-color);
}

.footerWrapper p {
  font-size: 20px;
}

.footerWrapper p:hover:not(:last-child) {
  color: var(--cream-color);
}

@media screen and (max-width: 1373px) {
  .footerWrapper {
    padding: 2rem 0;
  }

  .footerWrapper p {
    font-size: 18px;
  }
}

@media screen and (max-width: 850px) {
  .footerWrapper {
    padding: 2rem 0;
  }

  .footerWrapper p {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .footerWrapper {
    padding: 2rem 0;
  }

  .footerWrapper p {
    font-size: 14px;
  }

}

@media screen and (max-width: 400px) {
  .footerWrapper {
    padding: 1rem 0;
  }

  .footerWrapper p {
    font-size: 10px;
  }
}