.innovationsSectionWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--black-color);
  padding: 6rem;
}

.innovationsSectionWrapper h1 {
  color: var(--yellow-color);
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  font-size: 72px;
}

.innovationsSectionWrapper>div {
  display: flex;
  gap: 80px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 1750px) {
  .innovationsSectionWrapper {
    padding: 4rem 6rem;
  }

  .innovationsSectionWrapper h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 1490px) {
  .innovationsSectionWrapper {
    padding: 2rem;
  }
}

@media screen and (max-width: 940px) {
  .innovationsSectionWrapper>div {
    gap: 50px;
  }
}

@media screen and (max-width: 711px) {
  .innovationsSectionWrapper>div {
    gap: 35px;
  }
}

@media screen and (max-width: 500px) {
  .innovationsSectionWrapper>div {
    gap: 20px;
  }
}