.cardWrapper {
  display: flex;
  flex-direction: column;
  width: 450px;
  border-radius: 20px;
  border: 1px solid var(--cream-color);
  background-color: var(--black-color);
}

.cardWrapper h3 {
  color: var(--yellow-color);
}

.cardWrapper h3 {
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 10px;
}

.cardWrapper h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--light-yellow-color);
  font-style: italic;
}

.cardWrapper p {
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
  color: var(--cream-color)
}

.cardWrapper:first-child img {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.cardWrapper>:nth-child(2) {
  padding: 20px;

}